<template>
  <q-page class="flex column"
    :class="bgClass"
  >

    <div class="col q-pt-lg q-px-md">

        <q-input
          clearable
          borderless
          size="lg"
          placeholder="Search"
          v-model="search"
          @keyup.enter="getWeatherBySearch"
        >

        <template v-slot:before>
          <q-icon name="location_searching" />
        </template>

        <template v-slot:append>
          <q-btn
              round
              dense
              flat
              icon="search"
              @click="getWeatherBySearch"
          />
        </template>

      </q-input>

    </div>

    <template v-if="weatherData">

      <div class="col text-center">

        <div class="text-h4 text-weigth-light">
          {{ weatherData.name }}
        </div>

        <div class="text-h6 text-weigth-light">
          {{ weatherData.weather[0].main }}
        </div>

        <div class="text-h1 text-weigth-light q-my-lg">
          <span>{{ Math.round(weatherData.main.temp) }}</span>
          <span class="text-h4 degree">°C</span>
        </div>

        <div class="col text-center">
          <img :src="`https://openweathermap.org/img/wn/${ weatherData.weather[0].icon }@2x.png`">
        </div>

        <div v-if="$q.platform.is.desktop">
          I'm only rendered on desktop!
        </div>

        <div v-if="$q.platform.is.mobile">
          I'm only rendered on mobile!
        </div>

        <div v-if="$q.platform.is.electron">
          I'm only rendered on Electron!
        </div>

      </div>

    </template>
    <template v-else>

      <div class="col column text-center text-white">

        <div class="text-h2 text-weigth-thin dark">
          Quasar
          <br>
          Weather
        </div>

        <q-btn
          flat
          :ripple="false"
          @click="getLocation"
          class="col">

          <q-icon
            left
            size="sm"
            name="my_location"/>
          <div>Find my location</div>

        </q-btn>

      </div>

    </template>

    <q-banner
      inline-actions
      class="text-white text-center bg-red absolute-bottom"
      v-if="errorsData"
      >
      {{ errorsData.message }}
    </q-banner>

    <div class="col nature"></div>

  </q-page>
</template>

<script>

export default {
  name: 'PageIndex',
  data () {
    return {
      search: '',
      weatherData: null,
      lat: null,
      lon: null,
      apiUrl: 'https://api.openweathermap.org/data/2.5/weather',
      apiKey: '3f9e1240a89864d0dcdce3b1ed9b1fe8',
      errorsData: null
    }
  },
  computed: {
    bgClass () {
      if (this.weatherData) {
        if (this.weatherData.weather[0].icon.endsWith('n')) {
          return 'bg-night'
        } else {
          return 'bg-day'
        }
      } else {
        return 'bg-default'
      }
    }
  },
  methods: {
    getLocation () {
      // console.log('getLocation')
      if (this.$q.platform.is.electron) {
        this.$axios
          .get('https://freegeoip.app/json/')
          .then(response => {
            this.lat = response.data.latitude
            this.lon = response.data.longitude
            this.getWeatherByCoords()
          })
      } else {
        navigator.geolocation.getCurrentPosition(
          position => {
            console.log('position: ', position)
            this.lat = position.coords.latitude
            this.lon = position.coords.longitude
            this.getWeatherByCoords()
          }
        )
      }
    },
    getWeatherByCoords () {
      this.$q.loading.show()
      this.$axios
        .get(`${this.apiUrl}?lat=${this.lat}&lon=${this.lon}&units=metric&appid=${this.apiKey}`)
        .then(response => {
          this.weatherData = response.data
        })
        .catch(function (error) {
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            // console.log('error.response')
            // console.log(error.response.data)
            // console.log(error.response.status)
            // console.log(error.response.headers)
            this.errorsData = error.response.data
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            // console.log('error.request')
            // console.log(error.request)
          } else {
            // Something happened in setting up the request that triggered an Error
            // console.log('error.message')
            // console.log('Error', error.message)
          }
          console.log(error.config)
        })
        .finally(() => this.$q.loading.hide())
    },
    getWeatherBySearch () {
      this.$q.loading.show()
      this.$axios
        .get(`${this.apiUrl}?q=${this.search}&units=metric&appid=${this.apiKey}`)
        .then((response) => {
          this.weatherData = response.data
        }
        )
        .catch((error) => {
          if (error.response) {
            this.errorsData = error.response.data
          }
        })
        .finally(() => this.$q.loading.hide())
    }
  }
}
</script>

<style lang="scss">
.q-page {

  background: #314755;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &.bg-day {
    background: #fceabb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.bg-night {
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

}

.degree {
  top: -40px;
  position: relative;
}

.nature {
  flex: 0 0 250px;
  background: url('../assets/nature.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
}
</style>
